.parent {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.collegeSite {
  flex: 7;
}

.chatArea {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 16px;

}

.messages {
  flex: 9;
  overflow-y: auto;
  height: 80vh;

}

.inputArea {
  flex: 1;
}

.msg {
  margin-bottom: 5px;
}

.sender {
  display: flex;
}

.txtInput {
  flex:1;
  margin-right: 5px;
}
